

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 500px;
    background: linear-gradient(45deg, #060316, #1a133a, #19066d);
}

.middle-div {
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 300px;
    margin-top: 20px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(10, 5, 47, 0.714);
    /* left: 25%;
    transform: translateX(-50%); */
    background-color: black;
    /* top: 50%; */
}

.middle-div h1 {
    margin-top: 0;
    padding: 0;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #ccc;
    text-align: center;
}

.middle-div h2 {
    margin-top: 13px;
    padding: 0;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-weight: bold;
    color: #ccc;
    text-align: center;
}

.image {
    padding-left: 100px;
    width: 70%;
    height: 70%;

}

.container #next,
#back {
    position: relative;
    width: 100px;
    align-items: center;
    margin-top: 20px;   
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 10px;
    border: none;
    font-size: 16px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}

#next img,
#back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Media queries for responsive design */

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .middle-div {
        width: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .image {
        max-width: 80%;
        height: 80%;
    }

    .container #next,
    #back {
        
        margin-left: 45%;
        margin-top: 20px;
    }
}

@media (max-width: 400px) {
    .middle-div {
        padding: 5px;
    }
}
