
.container {
    display: flex;
    justify-content: space-between;
  }
  
  .right-div {
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 350px;
    margin: 0 auto;
    padding: 10px;
    background-image: url('https://img.freepik.com/free-vector/background-luxury-gradient-design-template_483537-1634.jpg?size=626&ext=jpg&uid=R108830166&ga=GA1.2.1068912731.1688504774&semt=ais');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(10, 5, 47, 0.714);
  }
  
  .left-div {
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 350px;
    margin: 0 auto;
    background-image: url('https://img.freepik.com/free-vector/rectangle-frame-gray-background-vector_53876-170860.jpg?size=626&ext=jpg&uid=R108830166&ga=GA1.2.1068912731.1688504774&semt=ais');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(10, 5, 47, 0.714);
    /* overflow: auto; */
  }

  .presentation {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .presentation p {
    margin-bottom: 0.1px;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color:#ccc;
    text-align:center;
  }

  .contact{
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-weight: bold;
    font-size: 19px;
    color:#ccc;
    text-align:right;

  }
  
  .contact .linkedin{
    width: 50px;
    height: 50px;
    padding-right: 150px;

  }
  .contact .git{
    width: 50px;
    height: 50px;
    padding-right: 166px;

  }

  .contact .gmail {
    width: 70px;
    height: 50px;
    padding-right: 165px;
  }

  .contact .uni {
    width: 50px;
    height: 50px;
    padding-right: 95px;
  }
  
  .contact ul{
    margin-bottom: 30px;
  }
  