.container {
  width: 60rem;
  margin: 0 auto;
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg, #060316, #1a133a, #19066d);
}

.right-div,
.left-div {
  flex-basis: calc(48% - 5px);
  max-width: calc(48% - 5px);
  height: 350px;
  margin-bottom: 2px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(10, 5, 47, 0.714);
}

.left-div {
  position: relative;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  /* Para ocultar el exceso de contenido que se salga del triángulo */

}

.left-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 400px 100vw;
  border-color: transparent rgba(17, 32, 165, 0.719) transparent;
}

.presentation {
  position: relative;
  /* Se puede utilizar position: absolute para un mejor control del posicionamiento */

}

.presentation p {
  position: relative;
  font-family: "Arial Rounded MT Bold", sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
  color: #ccc;
  text-align: center;
  word-wrap: break-word;
}


.right-div {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: rgb(0, 0, 0);

}


.contact {
  width: 100%;
  font-family: "Arial Rounded MT Bold", sans-serif;
  font-weight: bold;
  font-size: 23px;
  color: #ccc;
  text-align: left;
  border: 8px outset rgba(17, 32, 165, 0.719);

}

.contact ul {
  margin-bottom: 18px;
  padding: 0 auto;
  /* Se puede establecer un padding de 0 en lugar del valor predeterminado */
  display: block;
  /* Se utiliza flexbox para alinear los íconos de contacto */

}

.contact img {
  margin-right: 50px;
  width: 100px;
  height: 55px;
}


/* Estilos adicionales para hacer el contenido responsive */
@media screen and (max-width: 768px) {
  .container {
    /* flex-basis: 100%; */
    flex-direction: column;
    min-width: 100%;
  }

  .right-div,
  .left-div {
    margin: 0 auto;
    /* flex-basis: 100%; */
    min-width: 80%;
  }

 
}