<div class="container">
  <div  class="left-div">
    <div class="presentation" >
      <p>Mi nombre es Sergio Alejandro soy estudiante próximo a recibir</p>
      <p>título como tecnólogo en sistematización de datos, actualmente</p>
      <p>me encuentro mejorando mis habilidades por mi cuenta, todo esto</p>
      <p>por medio del autodidactismo. Tengo conocimientos en lenguajes</p>
      <p>de programación: Java, javascript, C++ . Además de conocimientos</p>
      <p>en frameworks: Angular, nodejs. Me encuentro profundizando en </p>
      <p>tales como: Reactnative, .NET core. Además, tengo conocimientos</p>
      <p>en mongoDB, SQL y prueba de APIS con postman.</p>
    </div>
  </div>
  <div class="right-div">
    <div class="contact">
        <ul><a href="{{urllinked}}" target="_blank"><img class="linkedin" src="{{linkedin}}"></a>LINKEDIN</ul>
        <ul><a href="{{urlgit}}" target="_blank"><img class="git" src="{{github}}"></a>GITHUB</ul>
        <ul><a href="mailto:{{urlgmail}}" target="_blank"><img class="gmail" src="{{gmail}}"></a>GMAIL</ul>
        <ul><a href="mailto:{{urluniversidad}}" target="_blank"><img class="uni" src="{{universidad}}"></a>UNIVERSITARIO</ul>
    </div>
    
  </div>
</div>