<div class="container">
  <div  class="left-div">
    <div class="presentation" >
      <p>Mi nombre es Sergio Alejandro Giraldo Alzate, próximo Tecnólogo en Sistematización de Datos, 
        poseo conocimientos en tecnologías
        como: NodeJS, Angular, ASP .NET core, 
        JavaScript, Java, SQL, MongoDB, postman, HTML, CSS.
      </p>
    </div>
  </div>
  <div class="right-div">
   
    <div class="contact">
        <ul><a href="{{urllinked}}" target="_blank"><img class="linkedin" src="{{linkedin}}"></a>LINKEDIN</ul>
        <ul><a href="{{urlgit}}" target="_blank"><img class="git" src="{{github}}"></a>GITHUB</ul>
        <ul><a href="mailto:{{urlgmail}}" target="_blank"><img class="gmail" src="{{gmail}}"></a>GMAIL</ul>
        <ul><a href="mailto:{{urluniversidad}}" target="_blank"><img class="uni" src="{{universidad}}"></a>OUTLOOK</ul>
    </div>
  </div>
  </div>
