.container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.left {
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 900px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 150px;
    background-image: url('https://img.freepik.com/free-vector/blank-rectangle-black-abstract-frame_53876-118331.jpg?w=360&t=st=1688846415~exp=1688847015~hmac=4bf96b5af732896731f90b2f6dd70c965166f99f4d70dcbc1ae566fa84e88e5d');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(10, 5, 47, 0.714);
}

.right {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 900px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 150px;
    background-image: url('https://img.freepik.com/free-vector/blank-rectangle-black-abstract-frame_53876-118331.jpg?w=360&t=st=1688846415~exp=1688847015~hmac=4bf96b5af732896731f90b2f6dd70c965166f99f4d70dcbc1ae566fa84e88e5d');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(10, 5, 47, 0.714);
}

.right #previous {
    display: flex;
    width: 100px;
    align-items: center;
    margin-top: 200px;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(94, 94, 95);
    color: white;
    padding: 10px;
    border: none;
    font-size: 16px;
    overflow: hidden;  
    cursor: pointer;
}

.projects {
    display: flex;
    width: 100px;
    align-items: center;
    margin-top: 200px;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(10, 5, 47, 0.714);
}

.right #next {
    display: flex;
    width: 100px;
    align-items: center;
    margin-top: 200px;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(94, 94, 95);
    color: white;
    padding: 10px;
    border: none;
    font-size: 16px;
    overflow: hidden;  
    cursor: pointer;
}