.container {
    width: 60rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* margin-top: 1px; */
    border: 1px solid #080808;
    background: linear-gradient(45deg, #060316, #1a133a, #19066d);
   /*  margin-top: 500px; */

}

.left {
    position: relative;
    width: 40%;
    height: 500px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: black;
    box-shadow: 5px 5px 5px rgba(10, 5, 47, 0.714);
}

.right {
    display: flex;
    position: relative;
    width: 80%;
    height: 500px;
    margin: 10px;
    background-color: black;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(10, 5, 47, 0.714);
}

.right #previous, #next {
    position: relative;
    width: 100px;
    height: 100px;
    align-items: center;
    margin-top: auto;   
    margin-bottom: auto;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 0px;
    border: none;
    /* font-size: 16px; */
    overflow: hidden;
    cursor: pointer;
}

.projects {
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin:0 10px 0 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(10, 5, 47, 0.714);
}

.projects h2 {
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-weight: bold;
    color: #ccc;
    text-align: center;
}

.projects img {
    /* padding: 0 0 0 28%; */
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    

}

/* .right #next {
    position: relative;
    width: 100px;
    height: 100px;
    align-items: center;
    margin-top: 20px;   
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 10px;
    border: none;
    font-size: 16px;
    overflow: hidden;
    cursor: pointer;
} */

#next img,
#previous img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}